# Project exclude paths
/.gradle/
/common/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/.idea/
/fabric-like/build/
/fabric-like/.gradle/
/forge/build/
/forge/.gradle/
/build/
/fabric/run
/forge/run
